#logo {

  height: 50px;
  float: left;

}

.header {
  background:transparent;
  height: 100vh;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color:grey;
  text-transform: uppercase;
  font-size: 25px;
}

nav a:hover {
  color: #blue;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #black;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

#video-background {

position: relative;
}
body{

  text-align: center;
  font-family: 'Be Vietnam', sans-serif;
}



h1
{
  text-align: center;
}
p
{
  text-align: center;
  
}

tbody{

  text-align: center;
  content: center;
}

td {
  text-align: center;
  content: center;
  font-family: 'Be Vietnam', sans-serif;
  color : blue;


}
#packages {

  width: 320px;
  
}

#package
{
  text-align: center;
  border: 2px solid grey;
  border-radius: 5px;
  font-size: 100px;
}

#book
{
 font-size: 25px;
 color: fff;
 margin: 5px;
 padding: 7px;
 text-decoration: none;
 border: 1px solid coral;
 border-radius: 25px;
 text-align: center;

}


#call
{

  height: 30px;
}


footer {

    text-align: center;
    border: 2px solid grey;
    border-radius: 5px;
  }
}
